.todo_item_main {
    text-align: center;
    padding: 0.8rem;
    width: 50rem;
    max-width: 95%;
    margin: auto;
}

.todo_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    background-color: rgb(170, 170, 237);
}

.todo_date {
    /* flex-direction: column; */
    background-color: blue;
    padding: 0.8rem;
}

.todo_task {
    padding: 2rem;
    background-color: red;
}

.todo_btn {
    align-items: last baseline;
    background-color: green;
}